{% extends 'music/main.html' %}
{% block content %}
  <h1>Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        {% for album in albums %}
          <div class="card">
            <div class="card-title">
              <h1>{{ album.album_title }}</h1>
            </div>
            <div class="card-body">
              <h5>{{ album.related_artist }}</h5>
              <h6>{{ album.release_date }}</h6>
              <h6>{{ album.genre }}</h6>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}